.selectorPanel{
    width: 10rem;
    position: absolute;
    right: calc(100% + .5rem);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0 .5rem .5rem;
    border-radius: .5rem 0 0 .5rem;
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    border-right: 0;
    animation: appearence .2s;
}
@keyframes appearence{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.selectorPanel .conector{
    width: 1rem;
    height: 100%;
    position: absolute;
    right: -.5rem;
    top: 0;
}
.selectorPanel .option{
    z-index: 10;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background: var(--bg-color-tag);
    position: relative;
    padding: .5rem;
    cursor: pointer;
}
.selectorPanel .option .desc,
.selectorPanel .option .value{
    width: 100%;
    text-align: start;
    text-transform: uppercase;
}
.selectorPanel .option .desc{
    font-size: 10px;
    color: var(--font-color-soft);
    position: absolute;
    top: .25rem;
    left: .5rem;
}
.selectorPanel .option .value{
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.selectorPanel .option .value:nth-child(1){
    color: var(--font-color-soft);
    transition: all .2s;
}
.selectorPanel .option.selected .value{
    color: var(--font-color);
}
.selectorPanel .option:hover .value:nth-child(1){
    color: var(--font-color);
}
.selectorPanel .option .value:nth-child(2){
    padding: .75rem 0 0 .5rem;
}
.selectorPanel .option .value img{
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
}
.selectorPanel .option .value span{
    justify-content: start;
}
.selectorPanel .option .preview{
    height: calc(100% - 1rem);
    aspect-ratio: 3 / 2;
    top: .5rem;
    right: 0;
    padding: 2px 0 2px 6px;
    background: var(--bg-color);
    position: absolute;
}
.selectorPanel .option .preview,
.selectorPanel .option .preview div{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}
.selectorPanel .option .preview div{
    position: relative;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
}
.selectorPanel .option:hover{
    box-shadow: var(--box-shadow-tag-hover);
}
.selectorPanel .option.selected::before{
    content: "";
    width: 4px;
    height: calc(100% - 1rem);
    border-radius: 0 4px 4px 0;
    background: var(--main-color);
    position: absolute;
    top: .5rem;
    left: 0;
}
.selectorPanel::after,
.selectorPanel::before{
    content: "";
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 1px solid var(--main-color);
    position: absolute;
    right: .5rem;
}
.selectorPanel::before{
    bottom: calc(-1rem - 1px);
    border-width: 1px 1px 0 0;
    border-top-right-radius: .5rem;
    box-shadow: .5rem -.5rem 0 .5rem var(--bg-color);
}
.selectorPanel::after{
    top: calc(-1rem - 1px);
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: .5rem;
    box-shadow: .5rem .5rem 0 .5rem var(--bg-color);
}