.rover{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.rover ul{
	padding-left: 2rem;
}
.rover ul li a{
	color: inherit;
	cursor: pointer;
}
.rover .bento{
	width: 100%;
	aspect-ratio: 2 / 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: .5rem;
	margin: .5rem 0;
}
.rover .bento article{
	background: var(--bg-color-tag);
	border-radius: .5rem;
}
.rover .bento.bento.model_1 article{
	background: var(--bg-color-tag-light);
}
.rover .bento.model_1 :nth-child(1){
	grid-column: span 1;
	grid-row: span 1;
}
.rover .bento.model_1 :nth-child(2){
	grid-column: span 3;
	grid-row: span 2;
}
.rover .bento.model_1 :nth-child(3){
	grid-column: span 1;
	grid-row: span 1;
}
.rover .bento.model_1 :nth-child(4){
	display: none;
}
.rover .bento.model_2 :nth-child(1){
	grid-column: span 2;
	grid-row: span 2;
}
.rover .bento.model_2 :nth-child(2){
	grid-column: span 2;
	grid-row: span 1;
}
.rover .bento.model_2 :nth-child(3){
	grid-column: span 1;
	grid-row: span 1;
}
.rover .bento.model_2 :nth-child(4){
	grid-column: span 1;
	grid-row: span 1;
}

.rover .bento.model_4x3{
	aspect-ratio: 4 / 3;
	grid-template-rows: repeat(3, 1fr);
}
.rover .bento.model_4x3 :nth-child(1){
	grid-column: span 2;
	grid-row: span 1;
}
.rover .bento.model_4x3 :nth-child(2){
	grid-column: span 2;
	grid-row: span 2;
}
.rover .bento.model_4x3 :nth-child(3){
	grid-column: span 2;
	grid-row: span 2;
}
.rover .bento.model_4x3 :nth-child(4){
	grid-column: span 1;
	grid-row: span 1;
}
.rover .bento.model_4x3 :nth-child(5){
	grid-column: span 1;
	grid-row: span 1;
}