.rover{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.rover ul{
	padding-left: 2rem;
}
.rover ul li a{
	color: inherit;
	cursor: pointer;
}
.rover .project{
	display: flex;
	flex-direction: column;
	gap: .75rem;
}
.rover .project article{
	width: 100%;
	padding: .5rem;
	background: var(--bg-color-tag);
	border-radius: .5rem;
	position: relative;
	overflow: hidden;
}
.rover .project article .cornerDesc{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 4px 3px 0;
	font-size: .75rem;
	color: var(--font-color-soft);
	background: var(--bg-color);
	border-radius: 0 0 .5rem 0;
}
.rover .project article .cornerDesc span{
	z-index: 2;
	position: relative;
}
.rover .project article .cornerDesc::before,
.rover .project article .cornerDesc::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border-top-left-radius: 1rem;
    box-shadow: -.5rem -.5rem 0 .5rem var(--bg-color);
}
.rover .project article .cornerDesc::before{
    bottom: -1rem;
    left: 0;
}
.rover .project article .cornerDesc::after {
    top: 0;
    right: -1rem;
}
.rover .project .title{
	text-align: center;
	font-size: 2rem;
}
.rover .project .desc{
	padding: 1.5rem .5rem .5rem .5rem;
}
.rover .project .desc p{
	color: var(--icon-color);
}
.rover .project .stepList{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: .75rem;
}
@media(max-width: 500px){
	.rover .project .stepList{
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}
}
.rover .project .stepList .step{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rover .project .stepList .step:first-child{
	justify-content: center;
}
.rover .project .stepList .step ul{
	padding-left: 1.25rem;
	color: var(--icon-color);
}
.rover .project .stepList .stepNumber{
	width: 3rem;
	height: 3rem;
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	border-radius: 50%;
	background: var(--main-color);
}
.rover .project .stepList .step p{
	text-align: center;
}

.rover .actList{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: .25rem;
}
.rover .actList .mounth{
	display: flex;
	flex-direction: column;
	padding: .25rem;
	gap: .5rem;
	border: 1px solid var(--bg-color-tag);
	border-radius: .5rem;
}
.rover .actList .mounth :first-child{
	color: var(--font-color-soft);
	padding-left: .25rem;
}
.rover .actList .mounth .act{
	width: 100%;
	display: flex;
	gap: .125rem;
}
.rover .actList .mounth .act div{
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-color-tag);
	padding: 0 .25rem;
}
.rover .actList .mounth .act .date{
	border-radius: .5rem 0 0 .5rem;
}
.rover .actList .mounth .act.trees .date{
	background: var(--green-tree);
}
.rover .actList .mounth .act .desc{
	border-radius: 0 .5rem .5rem 0;
}